<div class="page-content text-center">
    <div class="info-card rounded-4 h-100 overflow-auto">
        <div class="d-flex flex-column justify-content-center gap-4">          
            <h1 class="display-2 fw-bold font-playfair-display">About Me</h1>
            <p class="display-6">I'm a Software Engineer! I've spent my entire life fascinated by computers and puzzles, and am lucky enough to have a career where I get to work with both.</p>
            <p class="display-6 py-3">Over the last several years, I've been refining a 
                <strong class="text-danger text-uppercase fw-bold" style="font-family: 'Noto Serif'">Full Stack</strong> 
                toolkit so I can build anything with confidence. I'm proud to say that whether your needs involve building enterprise software, internal tools, or a website for your clients, I can be of service.
            </p>
            <div class="mx-auto">
                <button class="btn btn-lg btn-success font-cairo" routerLink="/contact">Reach Out</button>
            </div>
        </div>
    </div>
</div>