<div class="page-content text-center">
    <div class="info-card rounded-4 overflow-auto my-1 p-3">
        <div class="d-flex flex-column justify-content-center gap-5 my-3">
            <div class="d-flex justify-content-center mx-1 mx-md-5 mx-xl-8">
                <div class="about-container container-1 px-1 px-md-2 row align-items-center">
                    <div class="col-8 col-lg-6">
                        <h2 class="about-header font-cairo text-success">Puzzle-solving is a passion of mine</h2>
                        <p class="about-body px-4 font-noto-serif">Ever since I was young, I've pursued a career where I can use my talents to solve puzzles for others.</p>
                    </div>
                    <div class="col-4 offset-lg-1">
                        <a [href]="jigsaw.credit" target="_blank" class="flaticon">
                            <img src="{{ jigsaw.link }}" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mx-1 mx-md-5 mx-xl-8">
                <div class="about-container container-2 px-1 px-md-2 row align-items-center">
                    <div class="col-4">
                        <a [href]="study.credit" target="_blank" class="flaticon">
                            <img src="{{ study.link }}" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-8 col-lg-6 offset-0 offset-lg-1">
                        <h2 class="about-header font-cairo text-success">Obsession drove me to be an Engineer</h2>
                        <p class="about-body px-4 font-noto-serif">I found myself working towards a degree in Computer Science, studying topics from language construction to game theory and artificial intelligence.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mx-1 mx-md-5 mx-xl-8">
                <div class="about-container container-3 px-1 px-md-2 row align-items-center">
                    <div class="col-8 col-lg-6">
                        <h2 class="about-header font-cairo text-success">I've refined my Full Stack toolkit for years</h2>
                        <p class="about-body px-4 font-noto-serif">My work has taken me through a variety of businesses and domains. I've contributed to the <strong class="font-cairo text-uppercase">social media</strong>, <strong class="font-cairo text-uppercase">finance</strong>, and <strong class="font-cairo text-uppercase">legal</strong> worlds in my time as a programmer.</p>
                    </div>
                    <div class="col-4 offset-lg-1">
                        <a [href]="toolbox.credit" target="_blank" class="flaticon">
                            <img src="{{ toolbox.link }}" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="about-container container-4 px-1 px-md-4">
                    <h2>My experience lets me build with confidence.</h2>
                    <h2>I'm proud to say that no matter your software needs,</h2>
                    <h1 class="fw-bold text-decoration-underline">I can be of service:</h1>
                </div>
            </div>
            <div class="row container-5 g-3 mx-4">
                <ng-container *ngFor="let icon of icons">
                    <ng-container *ngTemplateOutlet="iconWithText; context: { $implicit: icon } "></ng-container>
                </ng-container>
            </div>
            <div class="mx-auto mb-5">
                <button class="btn btn-lg btn-success font-noto-serif px-5 py-2" routerLink="/contact">Get in Touch</button>
            </div>
        </div>
    </div>
</div>

<ng-template #iconWithText let-icon>
    <div class="col-6 col-md-3 py-2">
        <div class="d-flex flex-column justify-content-center text-center">
                <a [href]="icon.credit" target="_blank" title="software engineer icons" class="flaticon">
                    <img src="{{ icon.link }}" class="img-fluid" />
                </a>
            <hr>
            <h3 class="font-cairo fw-bold">{{ icon.message }}</h3>
        </div>
    </div>
</ng-template>