<div class="hero" id="hero">
    <div class="layer" data-depth="0.1">
        <div class="hero-image"></div>
    </div>
    <div class="layer" data-depth="0.15">
        <div class="hero-text h-100 w-100">
            <div class="d-flex flex-column h-100 justify-content-start">
                <div class="container w-75 my-8">
                    <div>
                        <h1 class="name-header text-center fw-bold text-uppercase my-4">Bryce Collins</h1>
                    </div>
                </div>
                <div class="container">
                    <div>
                        <h2 class="name-subtext text-center fw-bold pb-1 w-auto">Welcome!</h2>
                        <h2 class="name-subtext text-center fw-bold pb-1 my-3 w-auto">Scroll to learn more</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layer" data-depth="0.3">
        <snow-overlay></snow-overlay>
    </div>
</div>