<div class="scroll-header fixed-top py-2 d-flex justify-content-center">
    <a href="#"><div class="header-image">
        <img src="assets/photos/sleeping_portrait_120.png" alt="" class="img-fluid rounded-circle">
    </div></a>
    <div class="header-item first text-center rounded-2 text-light btn">
        <a href="#about" class="text-light link-underline link-underline-opacity-0" style="width: 100%; height: 100%">
            <h4>Who I am</h4>
        </a>
    </div>
    <div class="header-item second text-center rounded-2 text-light btn">
        <a href="#experience" class="text-light link-underline link-underline-opacity-0">Experience & Skills</a>
    </div>
    <div class="header-item third text-center rounded-2 text-light btn">
        <a href="#projects" class="text-light link-underline link-underline-opacity-0">Projects</a>
    </div>
    <div class="header-item fourth text-center rounded-2 text-light btn">
        <a href="#contact" class="text-light link-underline link-underline-opacity-0">Get in Touch</a>
    </div>
</div>