<div class="side-nav-container d-flex justify-content-around">
    <div class="side-nav d-flex justify-content-around rounded-3 p-3 gap-3" 
        [class.side-nav-expanded]="active"
        (mouseenter)="setActive(true)" (mouseleave)="setActive(false)">
        <ng-container *ngFor="let link of links">
            <ng-container *ngTemplateOutlet="linkTemplate; context: link"></ng-container>
        </ng-container>
    </div>
</div>

<ng-template #linkTemplate let-message="message" let-href="href">
    <div class="side-nav-item align-self-center d-flex flex-column justify-content-center" (click)="navToRef(href)">
        <div class="side-nav-text text-center">{{message}}</div>
    </div>
</ng-template>
