.experience {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.personal-details {
    font-size: 20px;
}

.skills-block {
    padding: 2px;
    border-radius: 12px;
}

.job-experience {
    font-size: 20px;

    .summary {
        font-size: 16px;
    }
}

.timeline-graphic {
    position: relative;

    $line-color: rgb(238, 158, 9);
    $circle-height: 30px;
    
    font-size: 20px;
    
    height: calc($circle-height + 2ch);
    width: 70%;
    left: 15%;

    .circle-transparent {
        position: absolute;
        height: $circle-height;
        width: $circle-height;
        border: 5px solid $line-color;
        border-radius: 50%;
        background-color: transparent;

        &.circle-1 {
            left: 0%;
        }

        &.circle-2 {
            left: calc(100% - #{$circle-height});
        }
    }

    .line {
        $line-height: 8px;
        position: absolute;
        height: $line-height;
        background-color: $line-color;
        top: calc(($circle-height / 2) - ($line-height / 2));
        left: calc($circle-height - 2px);
        width: calc(100% - (2 * $circle-height) + 4px);
    }

    .date {
        top: calc($circle-height);
        font-weight: bold;
        text-align: center;

        &.date-1 { 
            position: absolute;
            left: calc(($circle-height / 2) - 2ch);
        }

        &.date-2 {
            position: absolute;
            left: calc(100% - ($circle-height / 2) - 2ch);
        }
    }
}
