.experience {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.skills-block {
    padding: 2px;
    border-radius: 12px;
}

.tech-detail-icon {
    background-color: rgba(212, 206, 206, 0.452);
    padding: 2px;
    border-radius: 4px;
}

.tech-detail-context-icon {
    height: 24px;
    width: 24px;
}