.experience {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.personal-details {
    font-size: 20px;
}

.skills-block {
    padding: 2px;
    border-radius: 12px;
}

.job-experience {
    font-size: 20px;

    .summary {
        font-size: 16px;
    }
}

.timeline-graphic {
    position: relative;
    $line-color: rgb(238, 158, 9);
    $circle-height: 30px;
    $circle-height-inner: 24px;

    width: 80%;
    left: 10%;
    height: $circle-height;

    .circle-transparent {
        position: absolute;
        height: $circle-height;
        width: $circle-height;
        border: 5px solid $line-color;
        border-radius: 50%;
        background-color: transparent;

        &.circle-1 {
            left: 0%;
        }

        &.circle-2 {
            left: calc(100% - #{$circle-height});
        }
    }

    .line {
        $line-height: 8px;
        position: absolute;
        height: $line-height;
        border-top: 2px solid $line-color;
        border-bottom: 2px solid $line-color;
        // background-color: transparent;
        background: linear-gradient(90deg, #00000054, #000000);
        top: calc(50% - ($line-height / 2));
        left: calc($circle-height - 2px);
        width: calc(100% - (2 * $circle-height) + 4px);
    }
}
