<div class="page-content text-center mt-3">
    <div class="info-card">
        <h1 class="display-4 fw-bold mb-3 font-cairo">Experience & Skills</h1>
        <div class="container">
            <div class="row ">
                <!-- Profile and personal info -->
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6 col-12">
                            <img class="img-fluid rounded shadow-lg" [src]="photo" alt="" style="max-width: 80%; height: auto;">
                        </div>
                        <div class="col-lg-12 col-sm-6 col-12 py-3">
                            <div class="d-flex flex-column justify-items-center">
                                <h3 class=" h1 font-noto-serif"><strong>Bryce Collins</strong></h3>
                                <div class="row g-2 personal-details font-cairo">
                                    <strong class="col-5 text-end text-truncate align-self-center">Occupation:</strong> <div class="col-7 text-start align-self-center">Software Engineer</div>
                                    <strong class="col-5 text-end text-truncate align-self-center">Age:</strong> <div class="col-7 text-start align-self-center">{{ getAge() }} years</div>
                                    <strong class="col-5 text-end text-truncate align-self-center">Hometown:</strong> <div class="col-7 text-start align-self-center">Newcastle, CA</div>
                                    <strong class="col-5 text-end text-truncate align-self-top">Education:</strong> 
                                    <div class="col-7 text-start align-self-center">
                                            <div class="d-flex flex-column">
                                                <div>California State University - Sacramento</div>
                                                <div class="fst-italic" [title]="'Bachelor of Science - Computer Science'">B.Sc - Computer Science</div>
                                                <div>Graduated in July 2018</div>
                                            </div>
                                    </div>
                                    <div class="text-center col-12">
                                        <a class="text-link" [href]="resume" target="_blank">Resume <i class="fa fa-arrow-up-right-from-square mx-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Skills, experience, etc -->
                <div class="col-lg-8 col-12 p-4 skills-block px-5">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="row">
                                <ng-container *ngTemplateOutlet="sectionHeader; context: {$implicit: 'Skills', class:'display-4'}"></ng-container>                  
                                <div class="col-12 my-2">
                                    <h4 class="fw-bolder">Programming Languages</h4>
                                    <div class="row px-5 g-2" id="languages">
                                        <div *ngFor="let tech of languages" class="col-4 col-md-3 col-lg-2">
                                            <tech-detail [tech]="tech"></tech-detail>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <h4 class="fw-bolder">Technologies & Frameworks</h4>
                                    <div class="row px-5 g-2">
                                        <div *ngFor="let tech of technologies" class="col-4 col-md-3 col-lg-2">
                                            <tech-detail [tech]="tech"></tech-detail>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-2">
                            <ng-container *ngTemplateOutlet="sectionHeader; context: {$implicit: 'Experience', class:'display-4'}"></ng-container>
                            <div class="row mt-2 px-3">
                                <div *ngFor="let job of experience" class="col-lg-6 col-12 text-center job-experience">
                                    <div class="fw-bold mb-2">{{ job.business }}</div>
                                    <div class="timeline-graphic">
                                        <div class="circle-transparent circle-1"></div>
                                        <div class="circle-transparent circle-2"></div>
                                        <div class="line"></div>
                                        <div class="date date-1">{{ job.dates[0] }}</div>
                                        <div class="date date-2">{{ job.dates[1] }}</div>
                                    </div>
                                    <div class="fst-italic">{{ job.position }}</div>
                                    <p class="summary text-start fst-italic">{{ job.summary }}</p>
                                    <div><a [href]="job.homepage" target="_blank">{{'Homepage'}}</a></div>

                                    <div class="col-12 text-center border-1 border-secondary border-top border-bottom font-playfair-display mt-2">
                                        <h5 class="mb-0">Relevant Tech</h5>
                                        <div class="row px-4 py-2">
                                            <div *ngFor="let tech of job.technology" class="col-2">
                                                <tech-detail [tech]="tech" [small]="true"></tech-detail>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template let-header let-class="class" #sectionHeader>
    <div class="col-12 text-center border-3 border-secondary border-bottom font-playfair-display fw-bold">
        <div [class]="class">{{ header }}</div>
    </div>
</ng-template>
