<div class="page-content my-2">
    <div class="info-card w-100 overflow-auto px-3">
        <form action="" #form="ngForm" (ngSubmit)="onSubmit()">
            <h1 class="text-center font-cairo fw-bold">Get in Touch</h1>
            <div class="d-flex flex-column py-4 justify-content-center overflow-auto">
                <div class="my-2 input-container align-self-center">
                    <label for="name" class="form-label fw-bold pb-1">Name:</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Your name" required [(ngModel)]="model.name" #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert input-error">
                        <div *ngIf="name.errors?.['required']">
                            - Name is required
                        </div>
                    </div>
                </div>
                <div class="my-2 input-container align-self-center">
                    <label for="email" class="form-label fw-bold pb-1">Email:</label>
                    <input 
                        class="form-control" 
                        type="email" 
                        name="email"  
                        placeholder="Your email address" 
                        required 
                        email
                        [(ngModel)]="model.from" 
                        #email="ngModel">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert input-error">
                        <div *ngIf="email.errors?.['required']">
                            - Email is required
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            - Must be a valid email address
                        </div>
                    </div>
                </div>
                <div class="my-2 input-container align-self-center">
                    <label for="subject" class="form-label fw-bold pb-1">Subject:</label>
                    <input class="form-control" type="text" name="subject" placeholder="Message subject" required [(ngModel)]="model.subject" #subject="ngModel">
                    <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert input-error">
                        <div *ngIf="subject.errors?.['required']">
                            - Subject is required
                        </div>
                    </div>
                </div>
                <div class="my-2 input-container align-self-center">
                    <label for="message" class="form-label fw-bold pb-1">Message:</label>
                    <textarea class="form-control" id="message" placeholder="Message contents" name="message" rows="7" required [(ngModel)]="model.message" #message="ngModel"></textarea>
                    <div *ngIf="message.invalid && (message.dirty || message.touched)" class="alert input-error">
                        <div *ngIf="message.errors?.['required']">
                            - A message is required
                        </div>
                    </div>
                </div>
                <div class="my-4 d-flex justify-content-center">
                    <button class="btn btn-lg btn-success" type="submit">Submit</button>
                </div>
                <p class="text-center fst-italic">Background <a [href]="photoURL" class="text-decoration-none">Photo</a> courtesy of my lovely sister, Ailey Collins</p>
            </div>
        </form>
    </div>

    <div class="py-3">
        <contact-links [large]="true"></contact-links>
    </div>
</div>
