.tech-detail {
    text-overflow: clip;
    word-wrap: break-word;
}

.tech-detail-icon {
    background-color: rgba(46, 44, 44, 0.452);
    padding: 2px;
    border-radius: 4px;
}

.tech-detail-icon-sm {
    height: 32px;
    width: 32px;
}