
<div class="header-nav">
    <nav class="navbar navbar-light navbar-expand-lg text-bg-light h-100 px-4">
        <div class="container-fluid h-100">
            <div class="navbar-brand font-noto-serif fw-bold signature">Bryce Collins</div>
            <div>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <div class="d-flex align-self-end">
                        <ng-container *ngFor="let link of links">
                            <ng-container *ngTemplateOutlet="navbarLink; context: { $implicit: link }"></ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="navbar-toggler">
                <button class="btn nav-link d-block" type="button" id="dropdownMenuButton" (click)="toggleSlideOut()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</div>
<div *ngIf="slideOut" class="slideOut bg-light d-block d-lg-none" >
    <div class="d-flex flex-column justify-content-around text-center fw-bold h-100">
        <ng-container *ngFor="let link of links; index as i">
                <a (click)="routeTo(link.url, true)" class="nav-link slideOutLink border-secondary border-1 p-2" 
                    [class.border-bottom]="i < links.length - 1"
                    style="cursor: pointer;"> 
                    {{ link.name }}
                </a>
        </ng-container>
    </div>
</div>

<ng-template #navbarLink let-link>
    <div class="nav-link">
        <a class="nav-link link-with-icon" (click)="routeTo(link.url)">
            <div class="grows">
                <h4 class="header-nav-link fw-bold px-3 align-self-center">{{link.name}}</h4>
                <div class="flex-container">
                    <i [class]="'fa header-nav-icon ' + link.icon"></i>
                </div>
            </div>
        </a>
    </div>
</ng-template>

