<header-nav></header-nav>
<div *ngIf="!isMobile(); else noParallax" class="scene" id="scene">
    <div class="layer" data-depth="0.085">
        <div class="hero-bg">
            <div class="hero"></div>
        </div>
    </div>
    <div class="layer" data-depth="0.1">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!isMobile()" class="layer" data-depth="0.5"> 
        <snow-overlay></snow-overlay>
    </div> 
</div>
<toast-container></toast-container>

<ng-template #noParallax>
    <div class="scene">
        <div class="layer">
            <div class="hero"></div>
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>