<!-- <scroll-header></scroll-header>
 -->
<header-nav></header-nav>
<div class="scene">
    <hero></hero>
    <div class="content">
        <div class="section text-center justify-content-center">

        </div>
        <div class="section text-center justify-content-center" id="experience">
            <experience></experience>
        </div>
        <div class="section text-center justify-content-center" id="about">
            <about></about>
        </div>
        <div class="section text-center justify-content-center" id="projects">Projects</div>
        <div class="text-center justify-content-center" id="contact">
            <contact></contact>
        </div>
    </div>
    <snow-overlay></snow-overlay>    
</div>
