/* You can add global styles to this file, and also import other style files */

@import 'styles/bootstrap_substitutions.scss';
@import 'styles/scrollbar.scss';
@import 'styles/fonts.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Outfit', sans-serif;

    height: 100vh;
    width: 100vw;
}

.section {
    min-height: 100vh;
    background-color: transparent;
}

.page-content {
    position: relative;
    animation: fadeIn 1.5s forwards;
    max-height: 100%;
    width: 90%;
    left: 5%;
    overflow: auto;
    pointer-events: auto;
    margin-top: 20px;
}

.info-card {
    background-color: #cbd9f49a;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}