<div class="home text-center d-flex flex-column justify-content-center">
    <div class="introduction d-flex flex-wrap sans-serif">
        <div class="introduction-1">
            <div class="w-1">Nice</div>
            <div class="w-2">to</div>
            <div class="w-3">Meet</div>
            <div class="w-4">You</div>
        </div>
        <div class="introduction-2">
            <div class="w-1">I'm</div>
            <div class="w-2">Bryce</div>
        </div>
    </div>
    <div class="subtext">
        <h3 class="line-2 mb-2 font-playfair-display">I'm good with <text-cycle [messages]="textCycleMessages" [cycleDuration]="5000" [cycleDelay]="4000"></text-cycle>, so I make things.</h3>
        <h3 class="line-3 font-playfair-display">Let's build something together</h3>
    </div>
    <contact-links></contact-links>
</div>