<div class="home text-center">
    <div class="d-flex flex-column h-100 justify-content-center">
        <div class="introduction d-flex flex-wrap">
            <div class="introduction-1">
                <div class="w-1">Nice</div>
                <div class="w-2">to</div>
                <div class="w-3">Meet</div>
                <div class="w-4">You</div>
            </div>
            <div class="introduction-2">
                <div class="w-1">I'm</div>
                <div class="w-2">Bryce</div>
            </div>
        </div>
        <div class="subtext">
            <h3 class="line-2 mb-2 font-playfair-display">I'm good with <text-cycle [messages]="textCycleMessages" [underlineColor]="''" [cycleDuration]="5000"></text-cycle>, so I make things.</h3>
            <h3 class="line-3 font-playfair-display">Let's build something together</h3>
        </div>
        <div class="d-flex gap-2 justify-content-center rounded-3  mx-auto px-2 py-2 bg-dim" style="font-size: 28px;">
            <a *ngFor="let link of contactLinks" [href]="link.href">
                <i [class]="link.icon + ' text-light cursor-pointer'" [title]="link.alt"></i>
            </a>
        </div>
    </div>
</div>