.home {
    height: 100%;
    width: 100%;
    color: #F8F8F4ff;
    text-shadow: 2px 2px 2px black;
    pointer-events: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

$minimum-viewport-width: 600px;
$maximum-viewport-width: 1200px;
$minimum-text-size: 100px;
$maximum-text-size: 480px;

$intro-top-pos: 40%;
$bryce-size: 22vi;
$im-size: 6vi;
$bryce-top-pos: calc($intro-top-pos - ($bryce-size / 2));
$im-top-pos: calc($intro-top-pos - ($im-size / 2));

$intro-top-pos-sm: 40%;
$bryce-size-sm: 30vi;
$im-size-sm: 10vi;
$bryce-top-pos-sm: calc($intro-top-pos-sm - ($bryce-size-sm / 2));
$im-top-pos-sm: calc($intro-top-pos-sm - ($im-size-sm / 2));

$intro-top-pos-xsm: 80%;
$bryce-size-xsm: 20vi;
$im-size-xsm: 8vi;
$bryce-top-pos-xsm: calc($intro-top-pos-xsm - ($bryce-size-xsm / 2));
$im-top-pos-xsm: calc($intro-top-pos-xsm - ($im-size-xsm / 2));

$fade-duration: 0.35s;
$intro-1-delay: 0.5s;

$intro-2-delay: 3s;

$subtext-delay-1: 4s;
$subtext-delay-2: 2s;
$animation-duration: 1s;

.introduction {
    width: 100%;
    height: 55%;
    line-height: 1;

    .introduction-1 {
        font-size: 7vi;
        position: relative;
        height: 100%;
        width: 30%;
        top: 0.5ch;
        left: 10%;
    
        .w-1 {
            position: absolute;
            top: $bryce-top-pos;
            left: 0px;
            z-index: 1;
            color: rgb(218, 131, 32);
            opacity: 0;
            animation: fadeIn $fade-duration forwards;
            animation-delay: $intro-1-delay;
        }
    
        .w-2 {
            position: absolute;
            top: calc($bryce-top-pos + 0.9ch);
            left: 2.5ch;
            z-index: 2;
            color: rgb(42, 75, 62);
            opacity: 0;
            animation: fadeIn $fade-duration forwards;
            animation-delay: ($fade-duration + $intro-1-delay) * 1;
        }
    
        .w-3 {
            position: absolute;
            top: calc($bryce-top-pos + 1.8ch);
            left: 0ch;
            z-index: 3;
            color: rgb(218, 131, 32);
            opacity: 0;
            animation: fadeIn $fade-duration forwards;
            animation-delay: ($fade-duration + $intro-1-delay) * 1.5;
        }
    
        .w-4 {
            position: absolute;
            top: calc($bryce-top-pos + 2.7ch);
            left: 1.5ch;
            z-index: 4;
            color: rgb(42, 75, 62);
            opacity: 0;
            animation: fadeIn $fade-duration forwards;
            animation-delay: ($fade-duration + $intro-1-delay) * 2;
        }
    }
    
    .introduction-2 {
        position: relative;
        height: 100%;
        width: 70%;
    
        .w-1 {
            position: absolute;
            font-size: $im-size;
            top: $im-top-pos;
            left: 0vb;
            z-index: 2;
            color: rgb(218, 131, 32);
            opacity: 0;
            animation: fadeIn $fade-duration forwards;
            animation-delay: $intro-2-delay;
        }
    
        .w-2 {
            position: absolute;
            left: 3vb;
            font-size: $bryce-size;
            top: $bryce-top-pos;
            z-index: 1;
            color: rgb(42, 75, 62);
            opacity: 0;
            animation: fadeIn calc($fade-duration * 2.5) forwards;
            animation-delay: $intro-2-delay + $fade-duration;
        }
    }
}

.subtext {
    position: relative;
    $subtext-height: 4vi;
    min-height: 15%;

    color: #F8F8F4ff;

    .line-2 {
        animation: fadeIn $animation-duration forwards;
        animation-delay: calc($subtext-delay-1 + $animation-duration);
        opacity: 0;
        font-size: $subtext-height;
    }
    
    .line-3 {
        animation: fadeIn $animation-duration forwards;
        animation-delay: calc($subtext-delay-1 + ( $animation-duration * 2 ));
        opacity: 0;
        font-size: $subtext-height;
    }
}

@media screen and (max-width: 900px) {
    .home {
        height: 100%;
        min-height: 100%;
        overflow-y: auto;
    }

    .introduction {
        height: 30%;
        width: 100%;
        left: 10%;

        .introduction-1 {
            display: none;
            visibility: hidden;
            width: 0%;
            height: 0%;
        }

        .introduction-2 {
            width: 80%;
            left: 10%;

            .w-1 {
                font-size: $im-size-sm;
                top: $im-top-pos-sm;
                animation-delay: $intro-1-delay;
            }

            .w-2 {
                font-size: $bryce-size-sm;
                top: $bryce-top-pos-sm;
                animation-delay: $intro-1-delay * 2;
            }
        }
    }

    $animation-duration: 1.5s;

    .subtext {
        $subtext-height: 5vi;
        min-height: 30%;

        .line-2 {
            animation-delay: calc($subtext-delay-2 + $animation-duration);
            font-size: $subtext-height;

            .outer {
            }
        }

        .line-3 {
            animation-delay: calc($subtext-delay-2 + ($animation-duration * 2));
            font-size: $subtext-height;
        }
    }
}

@media screen and (max-height: 470px) {
    .home {
        height: 100%;

        overflow: auto;

        .introduction {
            min-height: 130vh;
            width: 100%;
            left: 10%;
    
            .introduction-1 {
                display: none;
                visibility: hidden;
                width: 0%;
                height: 0%;
            }
    
            .introduction-2 {
                height: 100%;
                width: 60%;
                left: 22.5%;
    
                .w-1 {
                    font-size: $im-size-xsm;
                    top: $im-top-pos-xsm;
                    animation-delay: $intro-1-delay;
                }
    
                .w-2 {
                    font-size: $bryce-size-xsm;
                    top: $bryce-top-pos-xsm;
                    animation-delay: $intro-1-delay * 2;
                }
            }
        }
    
        .subtext {
            min-height: 25vh;
        }

        .home-links {
            min-height: 70vh;
        }
    }


}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}